@import url('https://rsms.me/inter/inter.css');
body {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #333;
  background-color: #faf9f7;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: 'Inter var', Inter, Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}
a:not([class]) {
  border-bottom-style: solid;
  border-bottom-width: 0.2rem;
  color: #0f61ff;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  border-color: rgba(15, 97, 255, 0.1);
}
a:not([class]):hover {
  border-color: rgba(15, 97, 255, 0.5);
}
@media (prefers-color-scheme: dark) {
  a:not([class]) {
    color: #81a5f8;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: #999;
  }
}
.yellow-btn {
  box-shadow: rgba(255, 214, 2, 0.6) 0px 6px 12px 0px;
}
.yellow-btn:hover {
  box-shadow: rgba(255, 214, 2, 0.6) 0px 2px 4px 0px;
}
@media (prefers-color-scheme: dark) {
  .yellow-btn {
    box-shadow: none;
  }
}
.wechat img {
  display: none;
}
.wechat:hover img {
  display: inline-block;
}
.s3-round {
  border-radius: 100px;
}
.s3-hover:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  animation: s3-rotate 5s infinite linear, s3-opacity 5s infinite;
}
.s3-transition {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
@-webkit-keyframes s3-rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes s3-opacity {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.1;
  }
}
.s3-dotted {
  border-radius: 100px;
}
.s3-dotted:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  animation: s3-rotate 5s infinite linear, s3-opacity 5s infinite;
}
.s3-dashed {
  border-radius: 100px;
}
.s3-dashed:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  animation: s3-rotate 5s infinite linear, s3-opacity 5s infinite;
}

      body {
        font-family: Inter, Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      @supports (font-variation-settings: normal) {
        body {
          font-family: Inter, 'Inter var', Inter, Rubik, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
      }
    