<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.luoboduner.moo.tool.dao.THostMapper">
    <resultMap id="BaseResultMap" type="com.luoboduner.moo.tool.domain.THost">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="create_time" jdbcType="VARCHAR" property="createTime"/>
        <result column="modified_time" jdbcType="VARCHAR" property="modifiedTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, content, create_time, modified_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_host
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_host
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.luoboduner.moo.tool.domain.THost">
    insert into t_host (id, name, content, 
      create_time, modified_time)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.luoboduner.moo.tool.domain.THost">
        insert into t_host
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifiedTime != null">
                modified_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                #{modifiedTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.luoboduner.moo.tool.domain.THost">
        update t_host
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=VARCHAR},
            </if>
            <if test="modifiedTime != null">
                modified_time = #{modifiedTime,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.luoboduner.moo.tool.domain.THost">
    update t_host
    set name = #{name,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_host
        order by modified_time desc
    </select>
    <select id="selectByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from t_host
        where name = #{name,jdbcType=VARCHAR}
    </select>
    <update id="updateByName" parameterType="com.luoboduner.moo.tool.domain.THost">
        update t_host
        set content       = #{content,jdbcType=VARCHAR},
            modified_time = #{modifiedTime,jdbcType=VARCHAR}
        where name = #{name,jdbcType=INTEGER}
    </update>
</mapper>